extends layoutU
block content

    main.col-md-9.ml-sm-auto.col-lg-10.px-4

        div(class='jumbotron') 
            strong
                h1(class='text-uppercase text-center') #{user.name}
        <button data-toggle="collapse" class="btn btn-success" data-target="#myInfo">View My Info</button>
        div(id="myInfo" class="collapse")
            h1 My Information
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th Name
                    th UserName
                    th Email
                    th Password
                    th External Website
                    tbody
                        tr
                        td #{user.name}
                        td #{user.username}
                        td #{user.email}
                        td #{showPass}
                        td #{user.website}
        br
        br
        <button data-toggle="collapse" class="btn btn-success" data-target="#myPostings">View My Job Posts</button>
        div(id="myPostings" class="collapse")
            h1 My Job Postings
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th Job ID
                    tbody
            button() Add New Job
        br
        br
        <button data-toggle="collapse" class="btn btn-success" data-target="#assosciated">View Assosciated Accounts</button>
        div(id="assosciated" class="collapse")
            h1 Assosciated Logins
            h5 (users who can access/change your organizational data)
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th UserName
                    tbody
        //- script
        //-     var user = #{user.firstName}
        br
        br
        //- form(action="/api/find-user" method="POST")
            //- input.ghost-input(type="text" id='id' name="id" placeholder='id' required='y')
            //- input(type="text" placeholder='something')
            //- button(type='submit' value=1 id='passInfo') Click Me
            //- button(name="id" value="1") Find User
       
        //- script(id='me',data-1=user.id,src="/api/test.js").
        //- button(id='checkIt',onclick='findUser();') Edit My Info
        //- p(id='hi') hi
        //- p(id='bye') hi
        
   
        form(action='/api/find-user', method='post')
            h3 Sign-up for businesses
            input.ghost-input(id = 'id', name='myId', type='text', required='y')
            br
            br
            input.ghost-button(type='submit')
