extends companyLayout
block content

    main.col-md-9.ml-sm-auto.col-lg-10.px-4

        div(class='jumbotron') 
            strong
                h1(class='text-uppercase text-center') #{user.name}
                br
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th Name
                    th UserName
                    th Email
                    th Password
                    th External Website
                    tbody
                        tr
                        td #{user.name}
                        td #{user.username}
                        td #{user.email}
                        td #{showPass}
                        td #{user.website}

        <button data-toggle="collapse" class="btn btn-success" data-target="#myInfo">Edit My Info</button>
        div(id="myInfo" class="collapse")
            h1 What Would You Like To Change?
            
        br
        br
        
        <button data-toggle="collapse" class="btn btn-success" data-target="#assosciated">View Assosciated Accounts</button>
        div(id="assosciated" class="collapse")
            h1 Assosciated Logins
            h5 (users who can access/change your organizational data)
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th UserName
                    tbody
        br
        br
        <button data-toggle="collapse" class="btn btn-success" data-target="#myPostings">Post New Job</button>
        div(id="myPostings" class="collapse")
            form(action='/api/new-job', method='post')
                br
                h3 Please fill out all fields
                input.ghost-input(name='title', type='text', required='y' placeholder='job Title')
                br
                input.ghost-input(name='city', type='text', required='y' placeholder='City')
                br
                input.ghost-input(name='state', type='text', required='y' placeholder='State (abbreviation)')
                br
                input.ghost-input(name='startDate', type='text', required='y' placeholder='Start Date **/**/****')
                br
                input.ghost-input(name='endDate', type='text', required='n' placeholder='End Date **/**/**** (If Applicable)')
                br
                input.ghost-input(name='description', type='text', required='y' placeholder='Description')
                br
                br
                input.ghost-button(type='submit' class='btn btn-danger' placeholder='Submit' name='id' value=user.id)
        br
        br
        //- form(action="/api/find-user" method="POST")
            //- input.ghost-input(type="text" id='id' name="id" placeholder='id' required='y')
            //- input(type="text" placeholder='something')
            //- button(type='submit' value=1 id='passInfo') Click Me
            //- button(name="id" value="1") Find User
       
        //- script(id='me',data-1=user.id,src="/api/test.js").
        //- button(id='checkIt',onclick='findUser();') Edit My Info
        //- p(id='hi') hi
        //- p(id='bye') hi
        
   
        //- form(action='/api/find-user', method='post')
        //-     h3 Sign-up for businesses
        //-     input.ghost-input(id = 'id', name='myId', type='text', required='y')
        //-     br
        //-     br
        //-     input.ghost-button(type='submit')
