extends layoutU
block content
    main
        div(class='jumbotron' style="background:transparent") 
            strong
                h1(class='text-uppercase text-center') #{user.firstName}s Dashboard
                br
                h1 My Info
            .table-responsive
                table.table.table-striped.table-sm
                    thead
                    tr
                    th First Name
                    th Last Name
                    th Address
                    th Phone
                    th Birthday
                    th Email
                    th Password
                    tbody
                        tr
                        td #{user.firstName}
                        td #{user.lastName}
                        td #{user.address}
                        td #{user.phone}
                        td #{user.birthday}
                        td #{user.email}
                        td #{showPass}

            script(id='me',data-1=user.id,src="/javascripts/changeUserInfo.js").
            button(id='checkIt',onclick='change();') Edit My Info
            p(id='hi') hi
            p(id='bye') hi
                    
